@charset "UTF-8";
/*Colores*/
/**
  EDgrid es una librería CSS para construir layouts con Responsive Web Design
  Importe este archivo en su proyecto para empezar a usarlo
**/
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.ed-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.ed-item {
  margin: 0;
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.ed-item {
  width: 100%; }
  .ed-item.ed-container {
    padding-left: 0;
    padding-right: 0; }

/*
| Mixin para crear cuadriculas
|
| $selector: nombre del selector CSS de cada item de la cuadricula
|
| $gutter: separación entre cada item de la cuadricula (opcional)
|
*/
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

.main-header {
  background: #e74c3c;
  padding: 1.5em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 1px 2px 1px #a82315; }
  .main-header .header-title {
    text-align: center; }
  .main-header img {
    width: 100px;
    height: 80%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

main {
  height: 90vh;
  position: relative; }

.flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(200px);
  -ms-transform: translateY(200px);
  transform: translateY(200px);
  transition: all 1s ease; }
  .flex-container.arriba {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    margin-bottom: 1.5em; }
  .flex-container.column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.form-busqueda input[type=text] {
  width: 500px;
  padding: .8em;
  font-size: 1.2em;
  border: none;
  box-shadow: 1px 2px 1px #2c3e50; }

.form-busqueda button {
  border: none;
  padding: .8em;
  font-size: 1.2em;
  border-radius: 2px;
  background: #5faee3;
  box-shadow: 1px 2px 1px #2c3e50;
  position: relative; }
  .form-busqueda button:hover {
    background: #217dbb;
    cursor: pointer; }

.lista {
  margin: auto; }

.link {
  display: block;
  font-size: 1em;
  margin-bottom: .5em;
  position: relative;
  padding-left: 1em; }
  .link:hover {
    text-decoration: none;
    cursor: pointer;
    color: #d62c1a; }
  .link:before {
    content: ' ';
    position: absolute;
    left: 0px;
    width: 10px;
    height: 10px;
    top: 2px;
    background: #e74c3c; }

.container-info-mapa {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 80%;
  margin-top: 1.5em; }

h2.title-map {
  text-align: center; }

.tramite {
  width: 50%;
  margin: auto; }
  .tramite .requisitos {
    list-style: none;
    padding-left: 1em; }
    .tramite .requisitos li {
      margin: .3em 0; }

.mapa {
  width: 80%;
  height: 400px; }

.info {
  width: 100%;
  font-size: 1em;
  margin: .3em 0; }

.negrita {
  font-weight: bold;
  font-size: 1.05em;
  margin-bottom: .3em; }

.sucursal {
  width: 75%; }

.comments {
  box-shadow: 0px 0px 1px #d62c1a;
  width: 25%;
  padding: .5em; }
  .comments span {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin-bottom: .5em; }
  .comments .comentario-text {
    width: 100%;
    padding: .5em;
    margin-bottom: .5em;
    border: none;
    box-shadow: 1px 2px 0 #d62c1a; }
  .comments .fecha {
    font-size: .8em;
    margin: .5em 0; }
  .comments .item-comment-text {
    font-size: .9em;
    margin-bottom: .5em;
    text-align: justify; }
  .comments input[type=submit] {
    border: none;
    padding: .5em;
    margin-top: .5em;
    border-radius: 2px;
    background: #5faee3;
    box-shadow: 1px 2px 1px #2c3e50; }
    .comments input[type=submit]:hover {
      background: #217dbb;
      cursor: pointer; }
  .comments .item-comment {
    margin: 1em 0;
    box-shadow: 0px 0px 1px #555; }
