$cssCore:false;
$cssHelpers:false;
$devMod:false;

/*Colores*/
$dark:#2c3e50;
$primary:#3498db;
$light:#2980b9;
$enfasis:#e74c3c;
$white:#ecf0f1;

$cambio:792px;
@import "./ed-grid";

*,*::after,*::before{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	background:$white;
	font-family:'Roboto', sans-serif;
	font-size:16px;
}

.main-header{
	background: $enfasis;
	padding: 1.5em;
	display: flex;
	justify-content: center;
	.header-title{
		text-align: center;			
	}
	img{		
		width: 100px;
		height:80%;
		align-self: center;
	}
	box-shadow: 1px 2px 1px darken($enfasis, 20);
}


main{	
	height: 90vh;
	position: relative;
}

.flex-container{
	display: flex;		
	align-items: center;
	justify-content: center;
	transform:translateY(200px);
	transition:all 1s ease;
	&.arriba{
		transform:translateY(50px);
		margin-bottom: 1.5em;
	}
	&.column{
		flex-direction: column;
	}
}

.form-busqueda{		
	input[type=text]{
		width: 500px;
    	padding: .8em;
    	font-size: 1.2em;
   		border: none;
    	box-shadow: 1px 2px 1px $dark;
	}
	button{
		border: none;    	
    	padding: .8em;
    	font-size: 1.2em;
    	border-radius: 2px;
    	background: lighten($primary,10);
		box-shadow: 1px 2px 1px $dark;
		position:relative;
		&:hover{
			background: darken($primary,10);
			cursor:pointer;			
		}
		
	}	
}

.lista{
	margin:auto;	 	
}

.link{	
		display: block;
		font-size:1em;		
		margin-bottom: .5em;
		position:relative;
		padding-left:1em;
		&:hover{
			text-decoration: none;
			cursor:pointer;
			color:darken($enfasis,10);			
		}
		&:before{
			content:' ';
			position:absolute;
			left:0px;			
			width:10px;
			height:10px;
			top:2px;
			background: $enfasis;
		}
	
}

.container-info-mapa{
	display: flex;
	justify-content: space-around;
	width:80%;		
	margin-top: 1.5em;
}

h2.title-map{
		text-align: center;				
	}

.tramite{
	width:50%; 
	margin:auto;

.requisitos{
	list-style: none;
	padding-left: 1em;

	li{
		margin:.3em 0; 
		}
	}	
}

.mapa{
	width:80%;
	height:400px;	
}

.info{
	width:100%;	
	font-size: 1em;
	margin:.3em 0;	
}
.negrita{
		font-weight: bold;
		font-size: 1.05em;
		margin-bottom: .3em;
	}

.sucursal{
	width: 75%;
}

.comments{
	box-shadow: 0px 0px 1px darken($enfasis,10);
	width:25%;
	padding:.5em;

	span{
	text-align: center;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin-bottom: .5em;
	}
	.comentario-text{
		width: 100%;
    	padding: .5em;
    	margin-bottom: .5em;
    	border: none;
    	box-shadow: 1px 2px 0 darken($enfasis,10);
	}
	.fecha{
		font-size: .8em;
    	margin: .5em 0;
	}

	.item-comment-text{
		font-size: .9em;    
    	margin-bottom: .5em;
    	text-align: justify;    	
	}
	input[type=submit]{
		border: none;
    	padding: .5em;    	    	
    	margin-top: .5em;
		border-radius: 2px;
    	background: lighten($primary,10);
		box-shadow: 1px 2px 1px $dark;		
		&:hover{
			background: darken($primary,10);
			cursor:pointer;			
		}
	}

	.item-comment{
		margin: 1em 0;
    	box-shadow: 0px 0px 1px #555;
	}
}
