	<div class="flex-container busqueda" ng-class="controller.claseArriba">
    	<form ng-submit="controller.buscar()" class="form-busqueda" >	        
		    <input type="text" class="form-control" placeholder="Busca tu trámite" ng-model="controller.palabra" ng-required="true">
		    <button type="submit" class="btn btn-default">Buscar</button>
        </form>
	</div>

	<div class="flex-container" ng-class="controller.claseArriba"  ng-show="controller.verLista">
		
		<div class="lista">
			<p class="info" ng-hide="controller.hayDatos">No hay resultados para su búsqueda</p>
			<a ng-repeat='item in controller.tramites' 
			ng-click="controller.mostrarTramite(item.id)" class="link">{{item.nombre}}</a>
		</div>
	</div>

	<div class="flex-container column" ng-class="controller.claseArriba" ng-show="controller.verTramite">
		<span class="button" ng-click="controller.regresar(1)"></span>
		<h2 class="title-map">{{controller.tramite.nombre}}</h2>
		<div class="container-info-mapa">			
			<div class="tramite" >										
				<p class="info"><span class="negrita">Dependencia: </span>
				{{controller.tramite.dependencia.nombre}}</p>
				<p class="info"><span class="negrita">Descripcion:</span>
				{{controller.tramite.descripcion}}</p>			
				<span class="negrita">Requisitos</span>			
				<ul class="requisitos">
					<li ng-repeat="item in controller.tramite.requisitos">{{item}}</li>
				</ul>											
				<span class="negrita">Sucursales</span>		
				<a class="link" ng-repeat="suc in controller.tramite.dependencia.sucursales" 
				ng-click="controller.verSucursal(suc.id)">
				{{suc.nombre}}</a>
			</div>
			<div class="mapa"></div>
		</div>
	</div>
	

	<div class="flex-container column" ng-show="controller.mostrarSucursal" ng-class="controller.claseArriba">		       
		<span class="button" ng-click="controller.regresar(2)"></span>
        <h2 class="title-map">{{controller.sucursal.nombre}}</h2>
		<div class="container-info-mapa">
			<div class="sucursal">
				<p class="info"><span class="negrita">Teléfono: </span>{{controller.sucursal.telefono}}</p>
        		<p class="info"><span class="negrita">Dirección: </span>{{controller.sucursal.direccion}}</p>
				<div class="mapa"></div>
			</div>
			        
        <div class="comments">
            <span class"negrita">Comentarios</span>
            <p ng-show="controller.comentarios.length<1" class="info">No hay comentarios para ver</p>
            <form ng-submit="controller.enviarComentario(controller.sucursal.id)">
                <input type="text" class="comentario-text" ng-model="controller.comentarioNuevo" ng-required="true">
                <input type="submit" value="Enviar comentario">
            </form>

            <div ng-hide="controller.comentarios.length<1" class="item-comment" ng-repeat="item in controller.comentarios">
                <p class="fecha">{{item.fecha | date:'yyyy-MM-dd'}}</p>    
                <p class="item-comment-text">{{item.descripcion}}</p>
            </div>
        </div>    
	</div>
	</div>