 <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="jumbotron text-center">Dependencias Oaxaca</h1>

<h2 class="page-header">
	Logo
</h2>

<form ng-submit="inicioController.buscar()">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Busqueda" ng-model="inicioController.palabra" ng-required="true">
		<button type="submit" class="btn btn-default">Buscar</button>
	</div>
	<div class="lista">
		<a ng-repeat='item in inicioController.tramites' href="#/tramites/{{item.id}}" class="lista-item">{{item.nombre}}</a>
	</div>
</form>
</div>
</div>
</div>