<article>
    <div class="sucursal">
        <h1 class="nombre">{{sucursalController.dependencia}}</h1>        
        <h2>{{sucursalController.sucursal.nombre}}</h2>
        <p class="sucursal-info"><span class="negrita">Teléfono: </span>{{sucursalController.sucursal.telefono}}</p>
        <p class="sucursal-info"><span class="negrita">Dirección: </span>{{sucursalController.sucursal.direccion}}</p>

        <div id="mapa"></div>

        <div class="comments">
            <h3.comments-title>Comentarios</h3>
            <p ng-show="sucursalController.comentarios.length<1" class="info">No hay comentarios para ver</p>
            <form ng-submit="sucursalController.enviarComentario()">
                <input type="text" class="comentario-text" ng-model="sucursalController.comentarioNuevo" ng-required="true">
                <input type="submit" value="Enviar comentario">
            </form>
            <div ng-hide="sucursalController.comentarios.length<1" class="item-comment" ng-repeat="item in sucursalController.comentarios">
                <p class="fecha">{{item.fecha}}</p>    
                <p class="item-comment-text">{{item.descripcion}}</p>
            </div>
        </div>
    </div>
</article>