<div class="container">
	<h3>Tramite {{tramiteController.tramite.nombre}}</h3>
	<div class="row">
		<label>Descripcion:</label>
		<p>{{tramiteController.tramite.descripcion}}</p>
	</div>
	<label for="">Requisitos</label>
	<div class="row">
		<ul>
			<li ng-repeat="item in tramiteController.tramite.requisitos">{{item}}</li>
		</ul>
	</div>
	<div class="row">
		<label>Dependencia: </label>
		<p>{{tramiteController.tramite.dependencia.nombre}}</p>
	</div>
	<h3>Sucursales</h3>
	<div class="row">
		<a ng-repeat="suc in tramiteController.tramite.dependencia.sucursales" href="#{{tramiteController.tramite.dependencia.nombre}}/sucursal/{{suc.id}}">
		{{suc.nombre}}
		</a>
	</div>
	 <div class="mapa" style="height: 300px; width: 100%;"></div>
	 
</div>